html{
    background: rgba(255, 200, 47, 0.856)
}

body {
    display: flex;
}

h1 {
    font-family: 'Archivo Black', sans-serif; 
    font-size: 90px; 
    text-align: center;
    margin: 0, 5px;  
}

h2{
    font-family: 'Archivo Black', sans-serif;  
    font-size: 14px; 
    margin: 3px;
    text-align: left;
}

h3 {
    font-family: 'Archivo Black', sans-serif; 
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
}

h4 {
    text-align: center;
}

h5 {
    font-family: 'Archivo Black', sans-serif; 
    font-size: 30px;
    text-align: center; 
    margin: 50px;
    line-height: 35px;
}

h6{
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h7 {
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
}

p1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

p2 {
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 15px;
    padding: 1px;
}

.btn-group {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 3px;
}

.scoreKeeper {
    font-family:'Archivo Black', sans-serif; 
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.points {
    background-color: #E3E3E3;
    border: 2px solid #676767;
    border-radius: 15px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    margin: 5px;
    padding: 25px 0px;
    align-content: center;
    text-align: center;
    height: 60px;
    width: 280px;
}

.id {
    font-family: 'Archivo Black', sans-serif;
}
